@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

.jumbotron-fluid {
  min-height: 100vh;
  background: url('https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&h=1000');
  padding: 100px 0;
}
#game-area {
  margin: 0 auto;
  width: 420px;
  height: 420px;
  border-radius: 420px;
}
.pads {
  margin: 0;
  float: left;
  position: relative;
  height: 210px;
  width: 210px;
  border: solid 10px #272825;
  z-index: 8;
}
.green-btn {
  background: hsl(135, 85%, 40%);
  border-top-left-radius: 210px;
  border-left: solid 20px #272825;
  border-top: solid 20px #272825;
  -webkit-transition: .5s;
  transition: .5s;
}
.red-btn {
  background: hsl(0, 90%, 35%);
  border-top-right-radius: 210px;
  border-right: solid 20px #272825;
  border-top: solid 20px #272825;
  -webkit-transition: .5s;
  transition: .5s;
}
.yellow-btn {
  background: hsl(50, 90%, 45%);
  border-bottom-left-radius: 210px;
  border-left: solid 20px #272825;
  border-bottom: solid 20px #272825;
  -webkit-transition: .5s;
  transition: .5s;
}
.blue-btn {
  background: hsl(215, 75%, 30%);
  border-bottom-right-radius: 210px;
  border-right: solid 20px #272825;
  border-bottom: solid 20px #272825;
  -webkit-transition: .5s;
  transition: .5s;
}
#center-area {
  width: 230px;
  height: 230px;
  margin-top: 95px;
  background: white;
  border: solid 10px #272825;
  border-radius: 115px;
  position: absolute;
  z-index: 10;
}
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
}
#check-strict {
  margin: 0;
  margin-left: 159px;
  padding: 0;
  width: 10px;
  height: 10px;
  background: black;
  border: 2px solid black;
  border-radius: 5px;
}
#count {
  display: inline;
  margin-left: 18px;
  padding: 0 17px 5px 17px;
  background: #1a0000;
  color: rgba(255,0,0,0.05);
  font-family: 'Roboto Mono', monospace;
  font-size: 26px;
  border: 2px solid #272825;
  border-radius: 15px;
}
#start {
  cursor: pointer;
  display: inline;
  height: 30px;
  width: 30px;
  border: 4px solid #272825;
  border-radius: 50%;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  background: red;
  margin-left: 12px;
}
#start:focus {
  outline: none;
}
#strict {
  cursor: pointer;
  display: inline;
  height: 30px;
  width: 30px;
  border: 4px solid #272825;
  border-radius: 50%;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  background: yellow;
  margin-left: 12px;
}
#strict:focus {
  outline: none;
}
.center-text {
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0 0 37px;
}
.inline {
  display: inline;
  margin: 0 3px;
  font-size: 12px;
  font-weight: 700;
}
.left-face {
  margin-left: 55px;
}
.switch {
  margin: -4px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00001a;
  -webkit-transition: .2s;
  transition: .2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background: #0066ff;
  -webkit-transition: .2s;
  transition: .2s;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}