@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

.jumbotron-fluid {
  min-height: 100vh;
  background: url('https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&h=1000');
  padding: 100px 0;
}
#game-area {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: solid 5px #272825;
  border-radius: 500px;
}
.pads {
  margin: 0;
  float: left;
  position: relative;
  height: 245px;
  width: 245px;
  border: solid 12px #272825;
  z-index: 8;
}
.green-btn {
  background: hsl(135, 85%, 40%);
  border-top-left-radius: 240px;
  -webkit-transition: .5s;
  transition: .5s;
}
.red-btn {
  background: hsl(0, 90%, 35%);
  border-top-right-radius: 240px;
  -webkit-transition: .5s;
  transition: .5s;
}
.yellow-btn {
  background: hsl(50, 90%, 45%);
  border-bottom-left-radius: 240px;
  -webkit-transition: .5s;
  transition: .5s;
}
.blue-btn {
  background: hsl(215, 75%, 30%);
  border-bottom-right-radius: 240px;
  -webkit-transition: .5s;
  transition: .5s;
}
#center-area {
  width: 225px;
  height: 225px;
  margin-top: 135px;
  background: white;
  border: solid 8px #272825;
  border-radius: 125px;
  position: absolute;
  z-index: 10;
}
.title {
  margin-top: 27px;
  font-weight: 700;
  font-size: 44px;
  text-align: center;
}
#check-strict {
  margin: 0;
  margin-left: 172px;
  padding: 0;
  width: 10px;
  height: 10px;
  background: black;
  border: 2px solid black;
  border-radius: 5px;
}
#count {
  display: inline;
  margin-left: 18px;
  padding: 0 17px 5px 17px;
  background: #1a0000;
  color: rgba(255,0,0,0.05);
  font-family: 'Roboto Mono', monospace;
  font-size: 26px;
  border: 2px solid #272825;
  border-radius: 15px;
}
#start {
  cursor: pointer;
  display: inline;
  height: 30px;
  width: 30px;
  border: 4px solid #272825;
  border-radius: 50%;
  background: red;
  margin-left: 18px;
}
#strict {
  cursor: pointer;
  display: inline;
  height: 30px;
  width: 30px;
  border: 4px solid #272825;
  border-radius: 50%;
  background: yellow;
  margin-left: 18px;
}
.center-text {
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0 0 37px;
}
.inline {
  display: inline;
  margin: 0 3px;
  font-size: 12px;
  font-weight: 700;
}
.left-face {
  margin-left: 55px;
}
.switch {
  margin: -4px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00001a;
  -webkit-transition: .2s;
  transition: .2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background: #0066ff;
  -webkit-transition: .2s;
  transition: .2s;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.highlight.green-btn {
  background: radial-gradient(hsl(135, 100%, 70%), hsl(135, 85%, 40%));
  -webkit-transition: .4s;
  transition: .4s;
}
.highlight.red-btn {
  background: radial-gradient(hsl(0, 100%, 65%), hsl(0, 90%, 35%));
  -webkit-transition: .4s;
  transition: .4s;
}
.highlight.yellow-btn {
  background: radial-gradient(hsl(50, 100%, 75%), hsl(50, 90%, 45%));
  -webkit-transition: .4s;
  transition: .4s;
}
.highlight.blue-btn {
  background: radial-gradient(hsl(215, 100%, 60%), hsl(215, 75%, 30%));
  -webkit-transition: .4s;
  transition: .4s;
}